.navbar-nav button {
  background-color: #352c81;
  border-color: #352c81; }

.jumbotron {
  height: 800px;
  background-color: white; }
  .jumbotron .display-3 {
    margin-top: 200px; }
  .jumbotron img {
    margin-top: 120px;
    border-color: white; }
