@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$website-font-family: 'Poppins', sans-serif;

$blue: #58b7e6;
$lt-blue: #bad9eb;
$purple: #352c81;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px auto;
	padding: $pad-up-dn $pad-left-right;
}

body {
  font-family: $website-font-family;
}

.navbar {
  background-color: white;

  .navbar-nav {

    button {
    background-color: $purple;
    color: white;
    border-color: $purple;
    }

  }

}

.jumbotron {

  padding-top: 100px;
  height: 700px;
  background-color: white;

  .display-4 {
    color: $purple;
    font-weight: bolder;
  }

  img {
    padding-top: 60px;
    border-color: white;
  }

}

.row-content {

 @include zero-margin(50px,0px);
 border-bottom: 1px ridge;
 min-height:400px;

  img {
  height: 300px;
  border-color: white;
  }

  button {
  background-color: $purple;
  color: white;
  border-color: $purple;
  }

  h2 {
    margin-bottom: 20px;
  }

  textarea {
    margin-bottom: 20px;
  }

}

footer {
  background-color: $lt-blue;
}
