@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$website-font-family: 'Poppins', sans-serif;

$blue: #58b7e6;
$lt-blue: #bad9eb;
$purple: #352c81;

body {
  font-family: $website-font-family;
}
.navbar {
  background-color: white;

  .navbar-nav {

    button {
    background-color: $purple;
    color: white;
    border-color: $purple;
    }

  }
}

.jumbotron {
  margin-top: 60px;
  height: 700px;
  background-color: white;

  img {
    padding-top: 60px;
    border-color: white;
  }

}
